 <% include partials/header.ejs %>
 <link rel="stylesheet" type="text/css" href='/Content/about.css' />
 <div class="aboutme">
 <p>My strong commitment to a career in Information Technology, Presently I am in Computer Programmer Co-op program
at Georgian college second semester student. I am seeking summer work term opportunity to enhance my programming
skills. I am very enthusiastic in seeking a co-op position of Computer Programmer Co-op Student at Linkgreen
where I will be able to apply excellent communication, technical and organizational skills.</p>
<p>
I have procured many skills and attributes that are useful towards your organization. I am fresher but I learned
some programming skills in my home country. So I have an experience about dealing with programming tools.
Through my first and second semester study in Computer programmer at Georgian College, I have gained
excellent knowledge of MySQL, PHP, JAVA, Mathematics as well as System Analysis; as a result, I am
confident in my knowledge of database management and coding through the different software and languages
independently as well as in team. I am able to handle all required duties and responsibilities. My outgoing and
friendly nature allows me to interact well with other individual‘s at all levels..</p>
<p>I hope to fit into your vision of prospective co-op student and look forward to receiving the opportunity to
interview. The enclosed resume summarizes my background. Thank you in advance for your consideration, I
am available to discuss further prospects at your convenience. 
</p>
</div>
    


<%- include partials/footer.ejs %>