<% include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href='/Content/index.css' />
 <div class="header"> MANSI PATEL </div>
 
 <div class="header2">
 <p class="css-typing">
      WEB DEVELOPER <br>
    WEB DESIGNER <br>
      CODER <br>
        </p> 
      </div>
     

<br><br><br>
<% include partials/footer.ejs %>