<%- include partials/header.ejs %>



<link rel="stylesheet" type="text/css" href='/Content/projects.css' />
 <h1>MANSI PATEL</h1>
    <h2>My projects</h2>


  </body>
</html>
<%- include partials/footer.ejs %>