<% include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href='/Content/projects.css' />
    
                 <a href="http://gc200303640.computerstudi.es/portfolio/home.html">
                     <div id="f1_container">
                         <img src="images/port11.jpg" class="img-circle" align="left"  width="250" height="250"></a>
                       <!--   <article class="w3-container">
                          <p> Portfolio website using HTML, CSS, Bootstrap</p>
                         </article> -->
                     </div>
                     
                         <a href="http://gc200303640.computerstudi.es/Project1/home.html">
                     <div id="f1_container">
                         <img src="images/port1.jpg" class="img-circle" align="left"  width="250" height="250"></a> 
                          <!--     <article class="w3-container0">
                        <p>Vintage car website using HTML, CSS</p>
                        </article>-->
                         </div>
                    
                     
                      
                     
    		      <a href="http://gc200303640.computerstudi.es/assignment3/assignment3.html ">
                      <div id="f1_container">
                        <img src="images/inception.jpg" class="img-circle" align="left" width="250" height="250"></a> 
                     <!--  <article class="w3-container1">
                       <p>Movie poster using HTML,CSS</p>
                       </article>-->
                      </div>
                     
                      
                  <a href="http://gc200303640.computerstudi.es/resume/resume.html">
                      <div id="f1_container">
                        <img src="images/resume.png" class="img-circle" align="left" width="250" height="250"></a> 
                     <!--  <article class="w3-container2">
                        <p>Resume using Dreamweaver</p>
                        </article>-->
                      </div>
                     
                      
                  <a href="http://gc200303640.computerstudi.es/php/lesson12/login.php">
                      <div id="f1_container">
                       <img src="images/lesso12.png" class="img-circle" align="left" width="250" height="250"></a> 
                     <!--   <article class="w3-container3">
                        <p>Student Registration App using PHP</p>
                       </article>-->
                      </div>
                      
                       
  
