<% include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href='/Content/projects.css' />
    
    <div class="container">
        <a href="http://gc200303640.computerstudi.es/Project1/home.html">
            <img class="thumb" src="/images/port1.jpg" width="100px" height="100px">
          <!--  <img class="big" src="/images/port1.jpg"> -->
        </a>

        <a href="http://gc200303640.computerstudi.es/assignment3/assignment3.html ">
            <img class="thumb" src="/images/inception.jpg"  width="100px" height="100px">
         <!--   <img class="big" src="/images/inception.jpg"> -->
        </a>

        <a href="http://gc200303640.computerstudi.es/resume/resume.html">
            <img class="thumb" src="/images/resume.png" width="100px" height="100px">
           <!-- <img class="big" src="/images/resume.png"> -->
        </a>

        <a href="http://gc200303640.computerstudi.es/php/lesson12/login.php">
            <img class="thumb" src="/images/lesso12.png" width="100px" height="100px">
         <!--   <img class="big" src="/images/lesso12.png"> -->
        </a>

         <a href="http://gc200303640.computerstudi.es/php/lab3/save.php">
            <img class="thumb" src="/images/lab3.png" width="100px" height="100px">
           <!-- <img class="big" src="/images/lab3.png"> -->
        </a>

        <a href="hhh">
            <img class="big featured" src="/images/face_abstract_shiny_dark.jpg" width="100px" height="100px">
        </a>
    </div>
  
<% include partials/footer.ejs %>