<style>
body {
      background-size: 1400px 700px;
      background-image: url("../images/my.jpg");
      background-size : auto;
      }
    
 body  {
           background-size: 2560px 1600px;
      background-image: url("../images/my.jpg");
      background-size : auto; 
          
            }
  .aboutme p{
    padding-top: 75px;
    color: whitesmoke;
    font-weight: 200;
    letter-spacing: 4px;
    font-family:  'Times New Roman', Times, serif;
    margin: auto;
    text-align: justify;
    font-size: 20px;
    width: 70%;
    position: relative;
    }
            
   </style>