<style>
body {
      background-size: 1400px 700px;
      background-image: url("../images/my.jpg");
      background-size : auto;
      }
    
 body  {
      background-size: 2560px 1600px;
      background-image: url("../images/my.jpg");
      background-size : auto; 
          
            }
#f1_container {
       
        margin-top: 50px;
        margin-left: 50px;
}
.img-circle {
                   margin-top: 50px;
}
p{
    font-family:  'Times New Roman', Times, serif;
    font-size: 25px;
    color: whitesmoke;
}
      

            
</style>