<style>
/* Nav links */
body {
      background-size: 1400px 700px;
      background-image: url("../images/my.jpg");
      background-size : auto;
      }
    
 body  {
      background-size: 2560px 1600px;
      background-image: url("../images/my.jpg");
      background-size : auto; 
       }
            
/* Image styles */

.img-rounded {
       margin-left: 50px;
       margin-top: 50px;
        border: 3px solid black;
        border-radius: 100%;
        }

div.row p{
       text-decoration: none;
       padding-left: 60px;
       font-size: 15px;
       color: whitesmoke;
       font-weight: 200;
       font-family: 'Times New Roman', Times, serif; 
         }

div.row h5{
       text-decoration: none;
       padding-left: 60px;
       font-size: 20px;
       font-weight: 900;
       color: whitesmoke;
       font-family: 'Times New Roman', Times, serif; 
         }

div.row a:link {
    font-size: 15px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif; 
    text-decoration: none;
    font-weight: 200;
    font-size: 15px;
}

div.row a:visited {
    font-size: 15px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif; 
    text-decoration: none;
    font-weight: 200;
    font-size: 15px;
}
         
 /* Section styles  */
section {
        padding-top: 20px;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing:2px;
        font-size:1.4em;
        color:#E5EFFF;
         }
 
            
</style>