<style>
body {
      background-size: 1400px 700px;
      background-image: url("../images/my.jpg");
      background-size : auto;
      }
    
 body  {
           background-size: 2560px 1600px;
      background-image: url("../images/my.jpg");
      background-size : auto; 
          
            }
            
</style>