<style>
body {
      background-size: 1400px 700px;
      background-image: url("../images/my.jpg");
      background-size : auto;
      }
    
 body  {
           background-size: 2560px 1600px;
      background-image: url("../images/my.jpg");
      background-size : auto; 
          
            }
    section {
        padding-top: 20px;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing:2px;
        font-size:1.4em;
        color:#E5EFFF;
    }
    i {
        font-size:1.4em;
        color:#E5EFFF;
    }
    i.fa.fa-cloud.fa-stack-1x.text-primary {
    color: darkred;
    }
    i.fa.fa-database.fa-stack-1x.text-primary {
    color: darkred;
    }
    i.fa.fa-html5.fa-stack-1x.text-primary {
    color: darkred;
    }
i.fa.fa-paint-brush.fa-stack-1x.text-primary {
    color: darkred;
        }
</style>